<div class="filter-list">
    <mat-expansion-panel hideToggle class="filter-panel" [(expanded)]="isPanelExpanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>filter_list</mat-icon> Filter
            </mat-panel-title>
            <mat-icon>{{ isPanelExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </mat-expansion-panel-header>

        <form [formGroup]="searchTaskForm" class="filter-form">
            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>title</mat-label>
                <input matInput formControlName="title" placeholder="search by title">
            </mat-form-field>

            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>TaskStatus</mat-label>
                <mat-select formControlName="taskStatus">
                    <mat-option value="PENDING">IN PENDING</mat-option>
                    <mat-option value="INPROGRESS">IN PROGRESS</mat-option>
                    <mat-option value="COMPLETED">COMPLETED</mat-option>
                    <mat-option value="DEFERRED">DEFERRED</mat-option>
                    <mat-option value="CANCELLED">CANCELLED</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                    <mat-option value="LOW">low</mat-option>
                    <mat-option value="MEDIUM">Medium</mat-option>
                    <mat-option value="HIGH">High</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="DueDatePicker" formControlName="dueDate"
                    placeholder="Choose a DueDate ">
                <mat-datepicker #DueDatePicker></mat-datepicker>
                <mat-datepicker-toggle [for]="DueDatePicker" matSuffix />
            </mat-form-field>

            <div class="filter-buttons">
                <button mat-flat-button matTooltip="Search" color="primary" class="apply-filter-btn"
                    (click)="applyFilter()">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-mini-fab matTooltip="clear!" color="warn" class="clear-filter-btn " (click)="clearFilter()">
                    <mat-icon>clear_all</mat-icon>
                </button>
            </div>
        </form>
    </mat-expansion-panel>

</div>


<div class="task-list">
    <mat-card class="task-card" *ngFor="let task of listOfTasks">
        <div class="task-details">

            <h2 class="task-name">{{task.title}}</h2>

            <p class="task-description">{{task.description}}</p>

            <div class="task-info">
                <div class="info-row">
                    <span class="info-label">Due Date</span>
                    <span class="info-value">{{task.dueDate | date:'MMM dd, Y'}}</span>
                </div>

                <div class="info-row">
                    <span class="info-label">Employee:</span>
                    <span class="info-value">{{task.employeeName}}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Priority:</span>
                    <span class="info-value">{{task.priority}}</span>
                </div>

                <div class="info-row">
                    <span class="info-label">Status:</span>
                    <span class="info-value">{{task.taskStatus}}</span>
                </div>
                <div class="info-row">
                    <mat-icon class="category-icon">loyalty</mat-icon>
                    <span class="info-label">Category </span>
                    <span class="info-value">{{task.categoryName}}</span>
                </div>
                <mat-divider></mat-divider>
            </div>

            <mat-divider></mat-divider>

            <div class="actions">

                <a *ngIf="task.imageName" [href]="task.imageName" target="_blank">
                    <img [src]="task.imageName" alt="Task Image" class="task-thumbnail" />
                </a>
                <button mat-icon-button color="warn" matTooltip="Go to View" class="view-button"
                    routerLink="/employee/task-details/{{task.id}}">
                    <mat-icon>visibility</mat-icon>
                </button>

                <button mat-icon-button color="primary" matTooltip="Edit" class="update-button"
                    [matMenuTriggerFor]="statusMenu">
                    <mat-icon>edit</mat-icon>
                </button>

                <mat-menu #statusMenu="matMenu">
                    <button mat-menu-item (click)="updateStatus(task.id,'INPROGRESS')">INPROGRESS</button>
                    <button mat-menu-item (click)="updateStatus(task.id,'COMPLETED')">COMPLETED</button>
                    <button mat-menu-item (click)="updateStatus(task.id,'PANDING')">PANDING</button>

                </mat-menu>
            </div>
        </div>
    </mat-card>

</div>
