<div class="filter-list">
    <mat-expansion-panel hideToggle class="filter-panel" [(expanded)]="isPanelExpanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>filter_list</mat-icon> Filter
            </mat-panel-title>
            <mat-icon>{{ isPanelExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </mat-expansion-panel-header>

        <form [formGroup]="searchTaskForm" class="filter-form">
            
            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>title</mat-label>
                <input matInput formControlName="title" placeholder="search by title">
            </mat-form-field>

            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>TaskStatus</mat-label>
                <mat-select formControlName="taskStatus" multiple>
                    <mat-option value="PENDING">IN PENDING</mat-option>
                    <mat-option value="INPROGRESS">IN PROGRESS</mat-option>
                    <mat-option value="COMPLETED">COMPLETED</mat-option>
                    <mat-option value="DEFERRED">DEFERRED</mat-option>
                    <mat-option value="CANCELLED">CANCELLED</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority" multiple>
                    <mat-option value="LOW">low</mat-option>
                    <mat-option value="MEDIUM">Medium</mat-option>
                    <mat-option value="HIGH">High</mat-option>
                    <mat-option value="VERY_LOW">VERY-LOW</mat-option>
                    <mat-option value="VERY-HIGH">VERY-HIGH</mat-option>
                </mat-select>
            </mat-form-field>
            
            <!--  Added Category Dropdown -->
            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryNames" multiple>
                    <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
                </mat-select>
            </mat-form-field>
                     
            <mat-form-field appearance="fill" class="filter-input">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="DueDatePicker" formControlName="dueDate"
                    placeholder="Choose a DueDate ">
                <mat-datepicker #DueDatePicker></mat-datepicker>
                <mat-datepicker-toggle [for]="DueDatePicker" matSuffix />
            </mat-form-field>

            <div class="filter-buttons">
                <button mat-flat-button matTooltip="Search" color="primary" class="apply-filter-btn"
                    (click)="applyFilter()">
                    <mat-icon>search</mat-icon>
                </button>
                
                <button mat-mini-fab matTooltip="clear!" color="warn" class="clear-filter-btn " (click)="clearFilter()">
                    <mat-icon>clear_all</mat-icon>
                </button>
            </div>
        </form>
    </mat-expansion-panel>
</div>

<div class="task-list">
    <mat-card class="task-card"
    [ngClass]="{'high-priority-today': isHighPriorityDueToday(task)}"
    *ngFor="let task of listOfTasks">
        <div class="task-details">

            <div class="task-header">
            <h2 class="task-name">{{task.title}}</h2>
          
            <div *ngIf="isHighPriorityDueToday(task)" class="urgent-task-badge">
                <mat-icon class="urgent-icon">notifications_active</mat-icon>
                <span class="urgent-text">Urgent</span>
            </div>

            <div class="time-info">
                <mat-icon class="time-icon">alarm</mat-icon>
                <span class="posted-time">{{ task.timeAgo }}</span> 
            </div>

        </div>

            <p class="task-description">{{task.description}}</p>

            <div class="task-info">

                <div class="info-row">
                    <span class="info-label"> Due Date</span>
                    <span class="info-value">{{task.dueDate | date:'MMM dd, Y'}}</span>
                </div>

                <div class="info-row">
                    <span class="info-label">  Employee:</span>
                    <span class="info-value">{{task.employeeName}}</span>
                </div>

                <div class="info-row">
                    <span class="info-label"> ⚡Priority:</span>
                    <span class="info-value">{{task.priority}}</span>
                </div>

                <div class="info-row">
                    <span class="info-label"> 📌Status:</span>
                    <span class="info-value" [ngClass]="getStatusClass(task.taskStatus)">
                        {{ task.taskStatus }}
                    </span>
                </div>

                <div class="info-row">
                    <mat-icon class="category-icon">loyalty</mat-icon>
                    <span class="info-label">Category </span>
                    <span class="info-value">{{task.categoryName}}</span>
                </div>
                <mat-divider>
                </mat-divider>
            </div>
            
            <mat-divider>

            </mat-divider>
            <div class="actions">

                <div *ngIf="isTaskOverdue(task)" class="overdue-task-badge">
                    <mat-icon class="overdue-icon">warning</mat-icon>
                    <span class="overdue-text">Overdue</span>
                </div>

                <a *ngIf="task.imageName" [href]="task.imageName" target="_blank">
                    <img [src]="task.imageName" alt="Task Image" class="task-thumbnail"/>
                </a>

                <button mat-icon-button color="warn" matTooltip="Go to View" class="view-button"
                    routerLink="/employee/task-details/{{task.id}}">
                    <mat-icon>visibility</mat-icon>
                </button>

                <button mat-icon-button color="primary" matTooltip="Edit" class="update-button"
                    [matMenuTriggerFor]="statusMenu">
                    <mat-icon>edit</mat-icon>
                </button>

                <mat-menu #statusMenu="matMenu">
                   
                    <button mat-menu-item (click)="updateStatus(task.id,'INPROGRESS')">INPROGRESS</button>
                    <button mat-menu-item (click)="updateStatus(task.id,'COMPLETED')">COMPLETED</button>
                </mat-menu>
            </div>
        </div>
    </mat-card>
</div>