<div class="filter-list">
  <mat-expansion-panel hideToggle class="filter-panel" [(expanded)]="isPanelExpanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>filter_list</mat-icon> Filter
          </mat-panel-title>
          <mat-icon>{{ isPanelExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </mat-expansion-panel-header>

      <form [formGroup]="searchTaskForm" class="filter-form">
          <mat-form-field appearance="fill" class="filter-input">
              <mat-label>employe Name</mat-label>
              <input matInput formControlName="employeeName" placeholder="search by employee">
          </mat-form-field>

          <mat-form-field appearance="fill"class="filter-input">
              <mat-label>title</mat-label>
              <input matInput formControlName="title" placeholder="search by title">
          </mat-form-field>

          <mat-form-field appearance="fill" class="filter-input">
              <mat-label>TaskStatus</mat-label>
              <mat-select formControlName="taskStatus" multiple>
                  <mat-option value="PENDING">PENDING</mat-option>
                  <mat-option value="INPROGRESS">IN PROGRESS</mat-option>
                  <mat-option value="COMPLETED">COMPLETED</mat-option>
                  <mat-option value="DEFERRED">DEFERRED</mat-option>
                  <mat-option value="CANCELLED">CANCELLED</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill"   class="filter-input"  >
              <mat-label>Priority</mat-label>
              <mat-select formControlName="priority" multiple>
                  <mat-option value="LOW">low</mat-option>
                  <mat-option value="MEDIUM">Medium</mat-option>
                  <mat-option value="HIGH">High</mat-option>
                  <mat-option value="VERY-HIGH">VERY-HIGH</mat-option>
                  <mat-option value="VERY-LOW">VERY-LOW</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field appearance ="fill" class="filter-input">
              <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="DueDatePicker" formControlName="dueDate"
                  placeholder="Choose a DueDate ">
              <mat-datepicker #DueDatePicker></mat-datepicker>
              <mat-datepicker-toggle [for]="DueDatePicker" matSuffix />
          </mat-form-field>

          <mat-form-field appearance="fill" class="filter-input">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryNames" multiple>
              <mat-option *ngFor="let category of allCategories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

          <div class="filter-buttons">
              <button mat-flat-button matTooltip="Search" color="primary" class="apply-filter-btn" (click)="applyFilter()">
                  <mat-icon>search</mat-icon>
              </button>
              
              <!-- <button mat-flat-button matTooltip="Show Overdue Tasks" color="accent" class="overdue-filter-btn" (click)="filterOverdueTasks()">
                <mat-icon>schedule</mat-icon> Overdue
              </button> -->

              <button mat-mini-fab   matTooltip="clear!" color="warn" class="clear-filter-btn " (click)="clearFilter()">
                  <mat-icon>clear_all</mat-icon>
              </button>
             
          </div>
      </form>
  </mat-expansion-panel>
</div>

<div class="ng-container"  [@slideInFromRight]="animationState">

  <div class="mat-elevation-z6">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SI No </th>
        <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
      </ng-container>

      <!-- Employee ID Column -->
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </th>
        <td mat-cell *matCellDef="let row"> {{ row.employeeId }} </td>
      </ng-container>

      <!-- Employee Name Column -->
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
        <td mat-cell *matCellDef="let row"> {{ row.employeeName }} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{ row.title }} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
        <td mat-cell *matCellDef="let row"> {{ row.priority }} </td>
      </ng-container>

      <!-- Due Date Column -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
        <td mat-cell *matCellDef="let row"> {{ row.dueDate }} </td>
      </ng-container>

      <!-- Task Status Column -->
      <ng-container matColumnDef="taskStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Status </th>
        <td mat-cell *matCellDef="let row"> {{ row.taskStatus }} </td>
      </ng-container>
           <!-- Task Status Column -->
           <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> category</th>
            <td mat-cell *matCellDef="let row"> {{ row.categoryName }} </td>
          </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <button mat-raised-button color="primary" (click)="exportToExcel()">Export to Excel</button> -->

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 50]"
      [length]="totalTasks"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="paginate($event)">
    </mat-paginator>
  </div>
  
</div>
