
<div *ngIf="!isEmployeeLoggedIn && !isAdminLoggedIn">
<mat-toolbar color="primary" class="navbar">
  <span class="navbar-brand">Task Management System</span>
  <span class="space"></span>
  <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
  <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
</mat-toolbar>
</div>


<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management System</span>
    <span class="space"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Admin Dashboard</button>
    <button mat-button routerLink="/admin/task" routerLinkActive="active">Post-task</button>
    <button mat-button  routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>
<div *ngIf="isEmployeeLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management System</span>
    <span class="space"></span>
    <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">Employe Dashboard</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>
  

<router-outlet></router-outlet>