/* Centering the dialog box as a popup */
.contenar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Keeps the popup in place even when scrolling */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the container */
  width: 400px; /* Fixed width for the popup */
  padding: 5px; /* Padding for content inside */
  box-sizing: border-box;
  background-color: #fff; /* Solid background color for popup */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(236, 4, 4, 0.25); /* Subtle shadow for elevation */
  flex-direction: column;
}

/* Styling for dialog title */
mat-dialog-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

/* Styling for dialog actions (buttons) */
mat-dialog-actions {
  display: flex;
  justify-content: end;//   insted flex-end use her it resolve console have no yellow line
  padding-top: 10px;
  width: 100%;
}

/* General button styling */
button {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Hover effect for buttons */
button:hover {
  background-color: #ececec;
}

/* Styling for 'Yes' button with warning color */
button[color='warn'] {
  background-color: #e06158;
  color: rgb(247, 247, 247);
}

button[color='warn']:hover {
  background-color: #e93d3d;
}
