.footer-panel {
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px); /* Account for horizontal padding */
    margin: 0 20px; /* Center the footer with equal margins */
    padding: 10px 15px; /* Inner spacing */
    display: flex;
    justify-content: center; /* Align items to the right */
    align-items: center;
    gap: 100px; /* Space between buttons */
    background-size: cover; /* Ensure the background image covers */
    background-position: center; /* Center the background image */
    background-color: rgb(201, 200, 200,.8);
    box-shadow: 0 -2px 5px rgba(44, 43, 43, 0.1); /* Subtle shadow */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in width/height */
  }
  
  .footer-panel button {
    display: flex;
    align-items: center; /* Align icon and text */
    gap: 5px; /* Space between icon and text */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Emphasize button text */
    padding: 8px 12px; /* Provide consistent button padding */
    cursor: pointer; /* Show pointer on hover */
  }
  
  .footer-panel button i {
    font-size: 20px; /* Icon size */
    line-height: 1; /* Align icon with text */
  }
  
  .mat-raised-button {
    //color: rgba(0,0,0,.87);
    background-color: #ffff;
  }